<ion-content><ion-grid fixed>
    <h1>&nbsp;</h1><h1>&nbsp;</h1>
    <form [formGroup]="formgroup">
        <ion-item>
            <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required formControlName="email" type="text"></ion-input>
        </ion-item>
        <ion-item inputmode=”email” *ngIf="(formgroup.controls['email'].invalid && formgroup.controls['email'].touched)" lines="none">
            <ion-text color="danger" class="form-error">
                Please enter a valid email address.
            </ion-text>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Password <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required formControlName="password" type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="(formgroup.controls['password'].invalid && formgroup.controls['password'].touched)"
            lines="none">
            <ion-text color="danger" class="form-error">
                Please enter a valid password address.
            </ion-text>
        </ion-item>

        <ion-button [disabled]="formgroup.invalid" type="button" (click)="submit()">
            <ion-icon name="send"></ion-icon> Submit
        </ion-button>


    </form>
</ion-grid>

</ion-content>